.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 250px;

  .artistList {
    display: flex;
    gap: 2rem;

  }

  .artistList :global(.slick-slide) {
    display: flex !important;
    align-items: center;
  }
}


