@import '../../../styles/_animations.scss';

.musicInfoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 0;
}

.albumImage {
  width: 60px;
  height: 60px;
  border-radius: 0.5rem;
  object-fit: cover;
  flex-shrink: 0;
}

.musicInfoTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  min-width: 0;
}

.musicTitle {
  font-weight: 700;
}

.scrollWrapper {
  overflow: hidden;
  white-space: nowrap;
}

.staticText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
