@forward '../../styles/_animations.scss';

.container {
    width: 95vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 1rem;
}

.carouselContent {
    display: flex;
    margin-left: 2rem;
    height: fit-content;
    gap: 2rem;
}

.title {
    margin-left: 2rem;
}